.roll-in-right {
    -webkit-animation: roll-in-right 0.6s ease-out both   ;
    animation: roll-in-right 0.6s ease-out both   ;
}

@-webkit-keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(540deg);
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(540deg);
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
        -webkit-transform: translateX(0) rotate(0deg);
        -moz-transform: translateX(0) rotate(0deg);
        -ms-transform: translateX(0) rotate(0deg);
        -o-transform: translateX(0) rotate(0deg);
}
}

css{
    animation: forwards;
    -webkit-animation: forwards;
}




